
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/fondoindex.png')
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-size: cover;
    background-position: center;
    color: #faf7f7;
    text-align: center;
    padding: 100px;
    margin: 20px 0;
    
}



section:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
   
  nav ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
   
  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
  }
   
  nav ul li a:hover {
    color: #ccc;
  }
