body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/Fondo1Bio.png')
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-size: cover;
    background-position: center;
    color: #080808;
    text-align: center;
    padding: 100px;
    margin: 20px 0;
    
}



section:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 40%;
    height: auto;
    border: 2px solid #0f0f0f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 15px;
    display: block;
    transition: transform 0.3s;
}
 
img:hover {
    transform: scale(1.1);
}