body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/fondoKinal.png')
}

.logo {
    display: flex;
    top: 50px;
    right: 50px;
    align-items: end;
}


header {
    background-color: #e7aa3a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #ca7615;
    color: black;
}

main {
    padding: 20px;
}

section {
    background-size: cover;
    background-position: center;
    color: #faf7f7;
    text-align: center;
    padding: 100px 0;
    margin: 20px 0;
    text-align: center;
    
}

#seccion1 {
    background-image: url('../imagenes/img-kinal.png');
    width: 100%;
    height: 400px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

#seccion2 {
    background-color: rgba(255, 228, 196, 0.363);
    padding: 50px 0;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-box {
    position: relative;
    margin: 10px;
    max-width: 300px; 
}

.image-box img {
    width: 100%;
    height: auto;
    border: 5px solid #f0f1ec; 
}

.description-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    max-width: 300px; 
    text-align: center;
    padding: 20px;
}

section:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

footer {
    background-color: #db9a0e;
    color: #fff;
    text-align: center;
    padding: 10px;
}
